# Dependencies
node_modules/
frontend/node_modules/
.pnp
.pnp.js

# Production Builds
dist/
frontend/dist/
build/

# Local & IDE
.DS_Store
*.local
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
